<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-icon src="assets/exam.svg"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="studysvg">
    <ion-icon class="study" src="assets/study.svg"></ion-icon>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="8" size-lg="6">
        <ion-card *ngIf="!isOtpSent; else otpStep">
          <ion-card-header>
            <ion-card-title class="ion-text-center">Sign Up</ion-card-title>
          </ion-card-header>
          
          <ion-card-content>
            <form [formGroup]="signupForm" (ngSubmit)="onSignup()">
              <ion-list class="colordev">
                <ion-item>
                  <ion-input placeholder="Enter Name"
                  label="Name"
                  labelPlacement="floating" formControlName="name"></ion-input>
                </ion-item>
                <ion-note color="danger" *ngIf="signupForm.get('name')?.invalid && signupForm.get('name')?.touched">
                  Name is required.
                </ion-note>
        
                <ion-item>
                 
                  <ion-input placeholder="Enter Username"
                  label="Username"
                  labelPlacement="floating" formControlName="username"></ion-input>
                </ion-item>
                <ion-note color="danger" *ngIf="signupForm.get('username')?.invalid && signupForm.get('username')?.touched">
                  Username is required.
                </ion-note>
        
                <ion-item>
                  
                  <ion-input label="Password"
                  type="password"
                  placeholder="Enter Password"
                  labelPlacement="floating" formControlName="password"></ion-input>
                </ion-item>
                <ion-note color="danger" *ngIf="signupForm.get('password')?.invalid && signupForm.get('password')?.touched">
                  Password is required.
                </ion-note>
        
                <ion-item>
                  
                  <ion-input label="Email" placeholder="Enter Email" labelPlacement="floating" formControlName="email"></ion-input>
                </ion-item>
                <ion-note color="danger" *ngIf="signupForm.get('email')?.invalid && signupForm.get('email')?.touched">
                  Valid email is required.
                </ion-note>
              </ion-list>
              
              <ion-button expand="block" type="submit" color="primary" class="ion-margin-top">Sign Up</ion-button>
            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>

  <!-- Modal for Alerts -->
  <ion-modal [isOpen]="isModalOpen" (ionModalDidDismiss)="closeModal()">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Error</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="closeModal()">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <p>{{ modalMessage }}</p>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ng-template #otpStep>
    <ion-card>
      <ion-card-header>
        <ion-card-title class="ion-text-center">Verify OTP</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <form [formGroup]="otpForm" (ngSubmit)="verifyOtp()">
          <ion-item lines="none">
            <ion-label position="floating">Enter OTP</ion-label>
            <ion-input formControlName="otp"></ion-input>
          </ion-item>
          <ion-note color="danger" *ngIf="otpForm.get('otp')?.invalid && otpForm.get('otp')?.touched">
            OTP is required.
          </ion-note>
          <ion-button expand="block" type="submit" color="secondary" class="ion-margin-top">Verify OTP</ion-button>
        </form>
      </ion-card-content>
    </ion-card>
  </ng-template>
</ion-content>
