<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-icon src="assets/exam.svg"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <form [formGroup]="resetPasswordForm" (ngSubmit)="onResetPassword()">
    <ion-item>
      <ion-label position="floating">New Password</ion-label>
      <ion-input formControlName="newPassword" type="password"></ion-input>
    </ion-item>
    <ion-note color="danger" *ngIf="resetPasswordForm.get('newPassword')?.invalid && resetPasswordForm.get('newPassword')?.touched">
      Password is required.
    </ion-note>
    <ion-button expand="block" type="submit" color="primary">Reset Password</ion-button>
  </form>
</ion-content>

